[2013-05-07 12:45] jcoveney opened #1 "mv command doesn't assume the file is in your user directory"
snakebite mv /user/name/file /user/name/file2 works, but
snakebite mv file file2 doesn't work

[2013-05-07 12:49] jcoveney opened #2 "touchz doesn't work"
$ snakebite touchz /user/jco/heyyo
Traceback (most recent call last):
  File "/usr/bin/snakebite", line 345, in <module>
    cliclient.execute()
  File "/usr/bin/snakebite", line 176, in execute
    return Commands.methods[self.cmd]['method'](self)
  File "/usr/bin/snakebite", line 288, in touchz
    for line in format_results(result, json_output=self.opts.json):
  File "/usr/lib/python2.6/dist-pa

[2013-05-07 13:11] jcoveney opened #3 "Not everything needs to be a generator"
Making the commands return generators is really useful in many cases, but some commands make a lot more sense to just return one item. A good example are atomic commands like mkdir, as well as a command like serverdefaults().

IMHO in cases where only one output is expected it should return that thing instead of a generator of one item

[2013-05-07 13:35] #1 closed, assigned to nobody

[2013-05-07 13:36] #2 closed, assigned to nobody

[2013-05-07 14:29] #3 closed, assigned to nobody

[2013-05-08 09:45] jcoveney opened #5 "Use Travis CI to automatically run tests"

[2013-05-08 12:31] freider opened #6 "snakebite rmdir doesn't work"
File "/usr/lib/python2.6/dist-packages/snakebite/client.py", line 410, in _handle_rmdir
    if len(files) > 0:
TypeError: object of type 'generator' has no len()

[2013-05-08 13:39] #6 closed, assigned to nobody

[2013-05-08 16:46] freider opened #7 "mkdir doesn't create parent directories"
snakebite mkdir /foo/bar/ will not create bar if /foo doesn't exist
"reason: Parent directory doesn't exist:"

Doesn't work with --recurse either.
hadoop fs -mkdir (without flags) does it by default, so I think it would be nice if snakebite also supported it (with or without flag)

[2013-05-08 16:54] #7 closed, assigned to nobody

[2013-05-08 17:07] freider opened #8 "Space in filename breaks snakebite ls autocomplete"
If I have a file "foo bar" in my home dir, and do `snakebite ls` <TAB> <TAB>, the homedir will not be auto-filled and I will be presented all files in my home dir as well as:
/user/freider/foo
and
hopp (just hopp, not /user/freider/hopp)

[2013-05-10 13:29] zygm0nt opened #9 "Error running snakebite"
Hi, I've got the following problem with snakebite:

[code]

I've found an issue with similar problem: https://github.com/silverchris/Android-Munin-Node/issues/1 but doing as state there doesn't solve my problem.

I'm running CDH 4.1.2

[2013-05-10 14:03] #8 closed, assigned to nobody

[2013-05-10 23:51] #5 closed, assigned to nobody

[2013-05-12 12:02] #9 closed, assigned to nobody

[2013-05-13 12:35] freider opened #16 "Support hdfs:// uris"
Could be nice if `snakebite ls` supported parsing HDFS URIs like hdfs://namenodehost:54310/path/to/dir etc. like hadoop fs -ls does.
Right now it prepends the path with my user dir instead, i.e. it looks for /user/freider/hdfs://namenodehost: ... etc.

[2013-05-13 16:25] #16 closed, assigned to nobody

[2013-05-30 09:41] jcoveney opened #19 "Globbing in snakebite leads to not returning proper directories"
If you have a case where you do:
snakebite ls a/_/b/
then you do not get any results. bizarrely, if you do
snakebite ls a/_/b
you get results
but if you do
snakebite ls a/_/b/c
or
snakebite ls a/_/b/c/
you don't get results

[2013-06-07 14:12] #19 closed, assigned to nobody

[2013-08-29 20:13] cglewis opened #25 "any plans to include 'job' functionality?"
curious if you guys have started or are thinking about adding a job command, similar to hadoop job list/kill ?

[2013-09-04 08:13] freider opened #27 "Feature request: timeout"
Would be nice with a timeout flag that could be used mainly for the auto-complete feature when the namenode is slow at responding. Tab completion isn't very useful if it takes more than say a second to get the completion, but currently the user has to cancel the completion with a ctrl-C sequence in that case which aborts the current command altogether.
What do you think?

[2013-09-11 20:57] laserson opened #28 "Client.cat returns a generator that yields a generator that yields strings"
Is this the intended behavior?  The docs make it sound like Client.cat should return a generator that yields strings.

[code]

while

[code]

[2013-09-13 01:42] #28 closed, assigned to nobody

[2013-10-24 09:43] ulzha opened #30 "Successful snakebite mv says OK then ERROR"
I get this confusing output even though the move succeeds:

[code]

With -D:

[code]

[2013-11-01 03:38] #30 closed, assigned to nobody

[2013-11-12 10:12] wouterdebie opened #31 "Have client.py read hadoop config"
Right now, Client is initialized with hostname, port and possibly a version number. Maybe it would be nice to have an "autoconfig" client that reads the hadoop config (if HADOOP_HOME is set), just like the command line interface does.

[2013-11-12 13:21] #31 closed, assigned to nobody

[2013-11-14 20:40] clofresh opened #32 "Exceptions in CallMethod don't preserve the original stack trace"
To preserve the original stack trace, these should just be calling `raise` instead of `raise e`:

https://github.com/spotify/snakebite/blob/master/snakebite/channel.py#L402-L406

[2013-11-15 10:07] #32 closed, assigned to nobody

[2013-11-20 20:39] dstolfo opened #35 "Client.text() throws inconsistent exception"
Receiving an inconsistent `Exception: Feailure to read block XXX...XXX` when using client.text([paths])

When `paths` is a list of part files and I'm trying to generate the text, I receive an inconsistent exception where the block its failing to read from changes, and even sometimes generating the text just works.

Code snippet I'm trying to run:

[code]

My best guess is this has to do with an un

[2013-11-27 12:16] elipsion opened #36 "df misses human readable option"
The df command should accept the -h flag for printing human readable numbers. Compare df(1).

[2013-11-27 13:17] #36 closed, assigned to nobody

[2013-12-04 00:56] interskh opened #37 "copyFromLocal not implemented?"
I notice copyFromLocal exists in commandlineparser.py but not in client.py. Is it not implemented yet?

Thanks!

[2013-12-04 20:16] #35 closed, assigned to nobody

[2013-12-09 19:20] webfanatic opened #38 "Snakebite on EMR?"
This might be a basic question, but has anyone gotten snakebite working on AWS EMR?

[2013-12-16 17:21] BlondAngel opened #39 "broken pipe"
I installed it using 'pip install snakebite'  onto the Cloudera Demo VM (http://www.cloudera.com/content/support/en/downloads/download-components/download-products.html)

And I get a 'broken pipe' error.  Any suggestions on how to fix it?

Reference:
'snakebite -D ls /'
DEBUG:snakebite.client:Trying to find path / DEBUG:snakebite.channel:############## CONNECTING ##############
DEBUG:snakebite.cha

[2013-12-19 19:28] #39 closed, assigned to nobody

[2014-03-04 11:39] #38 closed, assigned to nobody

[2014-03-04 12:46] ogrisel opened #48 "[Feature request] Short Circuits Reads"
This is a feature request to add the possibility to leverage HDFS Short Circuit Reads from snakebite:

Since [HDFS-347](https://issues.apache.org/jira/browse/HDFS-347) was fixed in Hadoop 2.1.0, it is possible for HDFS clients collocated with a DataNode to directly access pre-opened file descriptors for the blocks of HDFS files hosted by the data datanode, making it possible for the client to read

[2014-04-26 04:55] hammer opened #56 "Support ACLs"
https://issues.apache.org/jira/browse/HDFS-4685

[2014-05-16 12:17] zygm0nt opened #59 "Kerberos support"
Hi,

I'd like to implement Kerberos support for snakebite. Been looking through documentation, but since I don't know snakebite codebase that well, could you point me in the right direction - where should this additional auth be implemented?

Or perhaps there is already some effort at implementing this feature?

[2014-06-02 18:46] caglar10ur opened #61 "2.4.1 tag is missing"
It would be really great if you could tag 2.4.1 so that we can download the tarball directly from github.

[2014-06-03 08:15] #61 closed, assigned to nobody

[2014-06-05 19:47] talumbau opened #62 "python 3 support?"
Do you have plans to support both python 2 and 3?

[2014-08-25 13:02] ravwojdyla opened #67 "Order of arguments for operation(s) changes."
Example for `ls` command:

[code]

[2014-08-25 17:41] ravwojdyla opened #68 "Error handling (permission, common)"
For some errors snakebite will print nice error message like:
- DirectoryException ("No such file or directory")
- FileNotFoundException ("No such file or directory")

Example:

[code]

For other it will print:

[code]

For permission errors it will actually print stack trace:

[code]

It would be nice to have a common error handling.

[2014-08-26 11:15] ravwojdyla opened #69 "Add tox for local/automated testing"
Makes local/automated testing simpler and also reduce duplication  - local virtualenvs and travis setups.

Goals:
- make local testing isolated by default
- reduce duplication of logic - everything in tox setup
- automate local testing (env variable etc)

[2014-08-26 11:19] ravwojdyla opened #70 "Requirements file for both setup and dev"
We now have requirements in both requirements.txt and setup.py, reduce duplication by reading requirements from the file in setup.py, add requirements-dev.txt for development/build/test requirements, make sure to include it in setup.py test/build tasks.

[2014-08-28 07:22] yarbelk opened #71 "client.text only accepts type str, not unicode"
Modern linux distributions allow for unicode paths, but there is strict type checking in the Client.test method for only str type paths.  This gives errors when you have utf-8 encoded paths.

It also gives errors when you are using helper classes for path manipulation like path.py, which subclasses 'unicode' (for the above reason).

[2014-08-28 11:51] jbx opened #72 "Snakebite count has unexpected behavior"
The file size is listed after replication in snakebite count, but before replication using hdfs count.

snakebite du -s and hdfs' du -s lists it before replication.

[2014-09-07 12:07] ravwojdyla opened #73 "data_files not included in sdist"
In py2.6 and still in 2.7 sdist may not include data_files from setup.py in source distribution which make some file unreachable during install process (including bash completion and license file).

@wouterdebie how do you produce tarballs available in pypi, I can see they have license and bash completion but I can't reproduce this via `python setup.py sdist`?

To solve the problem, let's add MANI

[2014-09-07 16:27] ravwojdyla opened #75 "Travis should use java7"
Java 7 is recommended for Hadoop 2.x.

[2014-09-07 21:13] ravwojdyla opened #77 "Use Fig to make testing totally isolated"
With Tox we isolated python environments and enhance testing process, which is cool, but tests still run on developers machines, that has to provide java and hadoop distribution. With Fig we should be able to abstract away operation system using docker and provide testing images so that testing is totally isolated and the same everywhere (in "perfect" world).

[2014-09-08 15:51] jfarnswo opened #79 "Absolute data_files path breaks virtualenv"
The commit at https://github.com/spotify/snakebite/commit/ab11f9dabaf7263b626ba43274c68149d1c5ebb0#diff-2eeaed663bd0d25b7e608891384b7298
changed the data_files path for the etc bash_completion script to an absolute /etc path, which makes snakebite fail to install in a virtualenv/non-root environment

copying scripts/snakebite-completion.bash -> /etc/bash_completion.d

error: /etc/bash_completion.d

[2014-09-08 17:10] #79 closed, assigned to nobody

[2014-09-08 17:10] #75 closed, assigned to ravwojdyla

[2014-09-08 17:10] #73 closed, assigned to ravwojdyla

[2014-09-08 17:11] #70 closed, assigned to ravwojdyla

[2014-09-08 17:11] #69 closed, assigned to ravwojdyla

[2014-09-08 17:20] ravwojdyla opened #81 "Update documentation about testing via Tox"

[2014-09-10 18:07] ravwojdyla opened #82 "Update documentation about testing via Fig"

[2014-09-10 18:44] ravwojdyla opened #83 "Update Tox to Tox 1.8"
Currently out tox.ini has a lot of duplication including basepython and some environmental variables. Unfortunately there's no better solution for that in 1.7.x
One of the features in Tox 1.8 is "multi-dimensional configuration support" - sounds awesome indeed!
Documentation -> http://tox.readthedocs.org/en/latest/changelog.html#dev1
Currently there's developer preview of version 1.8 and afaiu mul

[2014-09-11 10:56] #72 closed, assigned to ravwojdyla

[2014-09-11 16:25] #77 closed, assigned to ravwojdyla

[2014-09-12 09:44] #71 closed, assigned to ravwojdyla

[2014-09-20 09:57] ravwojdyla opened #89 "Add release script to automate release process"

[2014-09-23 15:21] a1k0n opened #90 "Support umask"
I would like to be able to set the umask for snakebite.

E.g. the hadoop equivalent is `hadoop fs -D fs.permissions.umask-mode=002 -mkdir foobar`

Ideally I could set it in my .snakebiterc, and having it available on the command line would be nice too.

What would be super neat is `snakebite umask 002` which sets an environment variable which sets the umask for just that shell.

But just reading i

[2014-09-23 23:32] jbx opened #92 "Snakebite ls .. produces unexpected output"
hdfs dfs -ls ..
(does ls of my user directory's parent as expected)

snakebite ls ..
Request error: org.apache.hadoop.fs.InvalidPathException
Invalid path name Invalid file name: /user/jbx/..

It seems to be failing with the getFileInfo call:

...

    methodName: "getFileInfo"
    declaringClassProtocolName: "org.apache.hadoop.hdfs.protocol.ClientProtocol"
    clientProtocolVersion: 1

    DEBUG:

[2014-10-05 23:25] ravwojdyla opened #94 "Improve speed of CRC verification"
Cleaning up documentation - it was in TODO.
I want to remove TODO section from documentation and add link to open issues on github.
There's no context to this issue - could you provide @wouterdebie - thanks!

[2014-10-05 23:32] ravwojdyla opened #95 "Add force flag to rm"
Vanilla hdfs client has force flag for rm operation - it would be nice to add it to snakebite as well.

[2014-10-11 23:44] #81 closed, assigned to ravwojdyla

[2014-10-11 23:51] #82 closed, assigned to ravwojdyla

[2014-10-11 23:55] #83 closed, assigned to ravwojdyla

[2014-10-12 07:39] ravwojdyla opened #97 "Fix github pages generation script"
There's scripts/create_gh_pages script - but it's:
- not generic (git aliases `ci`, `github` remote name)
- no error checking - use `set -o errexit` and `set -o pipefail`
- super dangerous - one has to run the script from within scripts directory, script does not enforce it, if you run the script from snakebite root directory, the script will delete your whole snakebite directory - including .git,

[2014-10-20 19:24] #89 closed, assigned to ravwojdyla

[2014-10-23 07:10] bung87 opened #99 "Unexpected end-group tag."
/root/portal/lib/python2.7/site-packages/google/protobuf/internal/python_message.pyc in MergeFromString(self, serialized)
    842         # The only reason _InternalParse would return early is if it
    843         # encountered an end-group tag.
--> 844         raise message_mod.DecodeError('Unexpected end-group tag.')
    845     except (IndexError, TypeError):
    846       # Now ord(buf[p:p+1]

[2014-10-29 04:53] ravwojdyla opened #101 "Fix constant failures of travis ci"
Travis is constantly failing for test_cat_file_on_3_blocks test. Investigate why and find solution so that we can depend on travis again.

[2014-10-29 14:04] ultinous-bogyom opened #103 "Copy is not implemented?"
It seems copy functionality is missing. Is that right?

[2014-10-29 14:28] #101 closed, assigned to ravwojdyla

[2014-12-02 21:22] wsong opened #108 "Can't ls() a directory with a Unicode name containing files with Unicode filenames"
If you have a directory called "/ｔｅｓｔｄｉｒ", and it contains a file called "ｔｅｓｔｆｉｌｅ", then this:

[code]

Gives this stacktrace:

[code]

If you instead pass in a Python string to ls(), you get this:

[code]

[code]

The right fix is probably to do some type checking before you pass things into os.path.join().

[2014-12-03 17:36] Tarrasch opened #109 "Snakebite touchz only cares about first file"
This both affects the cli (`snakebite touchz path_1 path_2`) and the internal implementation in `snakebite/client.py:Client.touchz()`.

[code]

@ravwojdyla, I suppose this won't get fixed fast right (unless I do it myself :))? I'll just make a work around for myself. :)

[2014-12-11 12:00] ravwojdyla opened #112 "Remove operation on certain file/directory differs between hdfs and snakebite clients"
Remove operation on file/directory inside directories owned by snakebite user, differs between hdfs and snakebite clients:

[code]

[2014-12-12 17:37] karthich opened #113 "Snakebite unable to parse core-site.xml in EMR"
When snakebite attempts to read core-site.xml file on EMR, it is looking for the property name 'fs.defaultFS' for the name of the master node. But in EMR clusters, that property is under the name 'fs.default.name'. To accomodate this, config.py should attempt to search for this value name if the first value search returns null.

Excerpt from the core-site.xml file from EMR:
[code]

[2014-12-15 11:30] jbx opened #115 "Snakebite 'test' returns a string instead of the return code"
both 'test' (the unix command) and the default hdfs test program follow the convention that an existence test either returns 0 if the test passes or non-zero if it fails.

Snakebite breaks this convention by returning a string 'XXX: No such file or directory' when a test fails. This could possibly cause breakage in scripts if making assumptions about test's behavior.

[2014-12-17 08:45] samos123 opened #117 "snakebite copyFromLocal not working"
version: 1.3.9

[code]

[2014-12-28 17:35] ravwojdyla opened #119 "Latest CDH tarball (5.3.0) breaks df unit tests"
For CDH tests we fetch the latest CDH 5 distribution from:

[code]

It was updates on 2014-12-21, and now unit tests for `df` operation fail.

Truncated output from tests:

[code]

The error:

[code]

It's possible that output syntax from `hadoop fs -du` command changed - still requires validation.

[2014-12-28 18:31] ravwojdyla opened #120 "Report raw disk usage including replication factor"
Improve usage reports by raw disk usage according to [HADOOP-6857](https://issues.apache.org/jira/browse/HADOOP-6857)

[2014-12-28 20:29] #119 closed, assigned to ravwojdyla

[2014-12-29 08:33] #109 closed, assigned to ravwojdyla

[2014-12-29 10:27] #117 closed, assigned to nobody

[2014-12-30 10:37] ravwojdyla opened #123 "Internal differences in touchz between standard client and snakebite"
It would be nice to have exactly the same behavior as vanilla hadoop client, this includes:
- OVERWRITE flag for create operation
- overwrite file - but ONLY zero size files

touchz operation via `hadoop fs -touchz`

[code]

[code]

Note that there's `OVERWRITE` flag! So next time we try to create empty file with the same name, it will get overwritten(!):

[code]

[code]

Hadoop client will check

[2014-12-30 13:40] #103 closed, assigned to nobody

[2015-01-03 13:52] bung87 commented on #99
Hi @ravwojdyla,
python version 2.7 is correct.it has been a while,as you described above,I think I may not install protobufers successfully.since I try to use https://github.com/mtth/hdfs and it works fine,Thank you and happy new year!

[2015-01-03 13:59] ravwojdyla commented on #99
Hi @bung87  - thanks for update. Closing for now - if this happens again, please let us know.
Happy new year!

[2015-01-03 13:59] #99 closed

[2015-01-05 16:56] ravwojdyla opened #125 "Refactor channel implementation"
Refactor implementation of channel to allow different protocols (Client, Namenode).
Clean up the code:
 * remove redundant code
 * use protobuf.socketrpc or own implementation

[2015-01-09 18:11] #115 closed

[2015-01-13 14:47] vmarkovtsev commented on #62
OK, Google has fixed it. I ran 2to3 on the sources and was able to successfully import snakebite. Not sure it works correct though.

[2015-01-13 15:38] vmarkovtsev commented on #62
Update: looks like protobuf defs should be updated, I am getting

[code]

[2015-01-14 22:38] wouterdebie commented on #62
We will probably will need to compile the protobufs with version 3.0.0 before it to work. Unfortunately proto3 is still in alpha and he proto3 compiler isn't mainstream yet.
Given that we need to recompile the protobufs, I'm not sure how to proceed, since this would make a python3/proto3 version incompatible with python2/proto2 version. @ravwojdyla any idea? Should we maintain two different versio

[2015-01-15 11:19] vmarkovtsev commented on #62
No need to recompile. Just apply the fixing patch to 2.6.1: https://github.com/google/protobuf/pull/50

[2015-01-16 16:17] wouterdebie commented on #123
Is it the client that deletes the file and creates a new one? Or is it the namenode that does this because the `OVERWRITE` flag is set? If it's the client that does this logic, I'm not sure what the purpose of the `OVERWRITE` flag is..

[2015-01-20 19:22] #92 closed

[2015-01-21 14:53] #113 closed

[2015-01-21 14:54] ravwojdyla commented on #113
closed via #114

[2015-01-27 15:10] esseye opened #134 "copyToLocal trying to write to / regardless of dst"
Given a list of source files like so
['/rawdata/date_id=20150127/datacenter_id=CHCM/file.dat',
 '/rawdata/date_id=20150127/datacenter_id=CHCM/file2.dat',
 '/rawdata/date_id=20150127/datacenter_id=CHCM/file3.dat',
 '/rawdata/date_id=20150127/datacenter_id=CHCM/file4.dat',
 '/rawdata/date_id=20150127/datacenter_id=CHCM/file5.dat']

and an output dir like so
'/data/CHCM_20150127/files'

copyToLocal(s

[2015-01-27 16:02] ravwojdyla commented on #134
This problem happens is destination is a directory, `copyToLocal` works fine if destination is not a directory. This problem was introduced by #132.

[2015-01-27 16:38] epogrelis commented on #134
The problem is caused by the way self.base_source in client.py is being determined. It's splitting the full path such that the last element (the filename) gets the slash, rather than the slash being on the end of self.base_source. os.path.join drops all components in the join prior to an absolute path if it encounters one, which is what's breaking. We've been working around it internally by making

[2015-01-27 20:08] ravwojdyla commented on #134
@epogrelis exactly :+1: would you like to provide PR with fix/test-case?

[2015-01-28 13:57] ravwojdyla opened #135 "copyToLocal assumes common prefix for all source paths"
Discovered during investigation of #134 - in `_handle_copyToLocal` there's optimization to compute common prefix for source only from first input path:
[code]
This will store "common" prefix for source paths  - but in source files are in different parent directories this results in error.

Try to: `snakebite copyToLocal /user/foo/a /user/bar/c /home/foobar` this will copy `a` to foobar home direct

[2015-01-30 09:54] #135 closed

[2015-01-30 10:14] #134 closed

[2015-01-31 11:23] DandyDev commented on #37
This no word on this?
If communicating through protobuf makes it hard to implement features that require direct access to datanodes (such as the `put` and `append` operations), it would be wise to have a look at [WebHDFS](http://hadoop.apache.org/docs/r2.2.0/hadoop-project-dist/hadoop-hdfs/WebHDFS.html). Using WebHDFS in Snakebite, instead of Protobuf would make it trivial to implement `copyFromLo

[2015-01-31 11:43] wouterdebie commented on #37
@ravwojdyla and I have been discussing this and currently there doesn't seem to be much time to implement this, so it's very hard to give any ETA on this feature.
I don't think we want to add WebHDFS support, since that sort of defeats the purpose of snakebite and requires additional infrastructure.

[2015-01-31 11:53] simonellistonball commented on #37
I agree with @wouterdebie webhdfs wouldn't have the speed of snakebite. I'm working on implementing put in RPC at the moment, if anyone has any thoughts or progress they can share to accelerate it would be great to work together.

[2015-01-31 11:54] DandyDev commented on #37
Where can I find the RPC documentation?

[2015-02-12 15:42] jbarotin opened #137 "Wrong default port in the documentation example"
Hello,

I tried to use Snakebite as a library in the single node Cloudera VM. In order to do that,  I followed the example bellow :
[code]
Example grabbed from here https://spotify.github.io/snakebite/client.html

This example doesn't work while the command line tools works very well. So I checked at your code (https://github.com/spotify/snakebite/blob/master/snakebite/namenode.py) and see the fol

[2015-02-12 21:11] beugley commented on #59
I am also interested in this enhancement.  Have you made any progress or need help?

[2015-02-17 03:48] gpoulin commented on #62
@wouterdebie any idea on how you plan to proceed? I started to port over spotify/luigi#747 and snakebite is currently a blocker. I had a fast look at snakebite code and I don't think supporting both python2/3 with one source code would be difficult. The main work would require to use unicode and bytes literal and encode and decode at the appropriate place (I can help for this part if you want). Th

[2015-02-17 16:29] Tarrasch commented on #62
@gpoulin can't you solve this on luigi side? Core luigi shouldn't really depend on snakebite.

[2015-02-17 18:35] wouterdebie commented on #62
@gpoulin would be great to see some progress here. I would like to have one version that supports both py2/3. And yes, the protobuf stuff we'll have to solve, but I don't mind keeping two different compiled sets for that.

[2015-02-18 02:32] gpoulin commented on #62
@Tarrasch I was under the impression that it was a soft requirement for Luigi, but hard requirement for "Hadoop Luigi", since all the Hadoop tests were failing on `import snakebite`. However having a closer look it seems only to had more functionality if present. Anyway, having snakebite running on python 3 would still be great.

[2015-02-18 11:10] Tarrasch commented on #62
@gpoulin Exactly, it's basically that luigi will run faster with snakebite because it don't need to shell out to hadoopcli. :)

[2015-03-02 01:56] yarbelk commented on #71
:) thanks

[2015-03-04 19:34] zachmullen opened #139 "Methods for writing data not implemented?"
It appears that the client doesn't have methods like `put` or `appendToFile`, and the documentation doesn't make it clear whether this is possible. Is there a way to write files to HDFS using snakebite? If not, are there plan to implement that?

[2015-03-04 19:50] wouterdebie commented on #139
Duplicate of #37

[2015-03-04 19:50] #139 closed

[2015-03-04 23:11] zachmullen commented on #37
Has there been progress toward implementing `put`? I was going to take a crack at it for a project I'm working on, and was considering contributing it upstream, but don't want to duplicate effort if someone already has a handle on this.

[2015-03-05 12:41] #137 closed

[2015-03-05 19:00] ravwojdyla opened #142 "Apply py3 style"
#138 applies py3 to minicluster part of snakebite for use in luigi, apply similar style to the rest of snakebite.

[2015-03-05 21:50] Tarrasch commented on #37
I'm pretty sure it has not, maybe @ravwojdyla can confirm.

[2015-03-09 12:15] ravwojdyla commented on #37
I have started working on this feature some time ago - can probably upload what I have right now (it's far from complete). That said if anyone feels like working on this problem please create issues you plan to work on, and if you need help - please ping me/us. Thanks!

[2015-03-09 18:09] zachmullen commented on #37
@ravwojdyla I'd love to help, I started to do it but the problem that ended up blocking me was that I couldn't find documentation on what RPCs I should even call to do something like an append, and the ones I tried didn't return what they claimed in the auto-generated protobuf spec... I might be able to help with this effort if you could point me to good documentation about the protocol, but I was

[2015-03-09 18:24] wouterdebie commented on #37
The problem with Hadoop is that protocols are pretty badly documented. When I started snakebite, I spent a lot of time reading Hadoop code and tcpdumping to figure out what was going on...

[2015-03-23 14:48] ravwojdyla opened #145 "Evaluate libhdfs3 for use with snakebite"
Libhdfs3, designed as an alternative implementation of libhdfs, is implemented based on native Hadoop RPC protocol and HDFS data transfer protocol. It gets rid of the drawbacks of JNI, and it has a lightweight, small memory footprint code base. In addition, it is easy to use and deploy.

libhdfs3:
 * https://github.com/PivotalRD/libhdfs3
 * http://pivotalrd.github.io/libhdfs3/

jira: https://issue

[2015-03-23 16:43] ravwojdyla commented on #145
Maybe we can swig it: http://www.swig.org/

[2015-03-27 16:45] jkukul opened #146 "Support fully qualified URIs"
Currently fully qualified HDFS URIs are not supported. E.g:
[code]
will result in `org.apache.hadoop.fs.InvalidPathException`, because normalizations that happen [here](https://github.com/spotify/snakebite/blob/master/snakebite/client.py#L1147) and [here](https://github.com/spotify/snakebite/blob/master/snakebite/client.py#L1151) will produce an invalid path like this:
[code]

Two seemingly straig

[2015-03-28 16:28] ravwojdyla commented on #146
@jkukul thanks for filing issue!

That is the case because in snakebite there's assumption that clients are created per HDFS cluster (HA enabled or not) thus developer provides addresses/ports in CTOR of snakebite client.

Is this assumption a blocker or problem in some case, could you elaborate?

[2015-04-08 13:23] NSjogren opened #147 "Effective user support for CLI client"
Would be nice to be able to specify effective user in cli client config, as a parameter and possibly also the HADOOP_USER_NAME environment variable. Right now you can only do it through the library.

[2015-04-08 15:33] Tarrasch commented on #147
A workaround might be to do something like.

    python my_task.py --task MyTask --hdfs-effective-user=$HADOOP_USER_NAME

But maybe parameters should also look at config variables. On the other hand you're more explicit with the above syntax with what you're passing.

[2015-04-08 18:53] Tarrasch commented on #147
I'm such an idiot. I thought this was for spotify/luigi. Nevermind! :)

[2015-04-09 23:32] hcoyote commented on #59
Bump.  Any update?

[2015-04-09 23:54] neutronsharc opened #148 ""test" command fails if the file name contains hdfs:// prefix"
Hi the team,

I ran the following test cmd and it failed.  The test cmd succeeds if I don't include "hdfs://namenode:port" prefix in the file name.  However, "ls" cmd works fine with hdfs:// prefix.

===================
snakebite -D -n hdfsbackup-namenode001 -p 8020 test hdfs://hdfsbackup-namenode001:8020/user/shawn/compare-dir-0.1.jar
DEBUG:snakebite.client:Trying to find path /user/shawn/hdfs://

[2015-04-10 07:16] ravwojdyla commented on #148
hi @neutronsharc !

Thanks for filing the issue and using snakebite!

This is indeed an issue, sorry about that - will take a look at it.

[2015-04-10 08:38] #148 closed

[2015-05-01 10:36] aman572 commented on #37
is there any ETA on when will copyFromLocal/put support would be present?

[2015-05-05 19:54] wouterdebie commented on #59
Sorry all, no updates on this..

[2015-05-14 19:07] datwright commented on #147
+1.  Are there any plans to do this?

[2015-05-15 13:12] Tarrasch commented on #147
I'm not the right person to speak for this. However, Spotify won't fix this anytime soon I would guess. Patches will be reviewed and probably merged though! :)

[2015-06-01 11:32] bolkedebruin commented on #59
Ha Wouter,

I just finished writing an initial implementation of SASL+GSSAPI authentication. You can find it https://github.com/bolkedebruin/snakebite .  It was tested against CDH 5.3.

No quality of protection implemented yet and you might find some rough edges. Let me know if you want some updates or a pull request.

[2015-06-01 11:39] bolkedebruin commented on #59
O and I should mention I guess that I did not test against a non secure setup ;-).

[2015-06-02 18:07] ghedsouza opened #154 "Provide message in Exception raised from Client._read_file"
This exception:

https://github.com/spotify/snakebite/blob/a0a928f07603f0494366844949a4b666e8e256c2/snakebite/client.py#L1114

should provide a message describing in some detail what went wrong. Was hitting this Exception when the data node was unreachable.

[2015-06-02 20:32] Tarrasch commented on #154
We will appreciate it if you send PR for this please.

[2015-06-03 13:54] Tarrasch commented on #154
@ravwojdyla, you should fix the general build errors, see https://github.com/spotify/luigi/commit/14819e885d30c024e6778013534a2411e0f9d035

[2015-06-05 12:30] kevincox commented on #147
This would be awesome, assuming that your hdfs user is the same as you user is a pretty strong assumption.

[2015-06-05 13:07] wouterdebie commented on #147
This is the same behavior as the Hadoop client, so it's a pretty strong assumption :)

// Wouter

Fatfingered on an iPhone

[2015-06-15 20:22] wouterdebie opened #158 "Docs on http://snakebite.readthedocs.org/"
I added building docs on http://snakebite.readthedocs.org/, which is automatically done on commit instead of manually running scripts/release.sh (which isn't very safe).
Should we move to readthedocs.org completely?

[2015-06-25 14:39] oflebbe commented on #59
The kerberos patch from https://github.com/bolkedebruin/snakebite works wonderful with my apache bigtop derived installation! +1

[2015-06-26 09:57] ValueCreation opened #160 "snakebite connection error"
OS:Windows 7
Python: ver 2.7.8

◆Work step
 1.path setup C:\Python27\ArcGIS10.3
 2.Install pip
  https://pip.pypa.io/en/latest/installing.html
  python get-pip.py
 3.Install snakebite
  https://github.com/spotify/snakebite
  C:\snakebite>python setup.py build
  C:\snakebite>python setup.py install
 4.HDFSToolbox.pyt is Create
 "from snakebite.client import Client"
 The following error message is d

[2015-07-03 08:39] bolkedebruin commented on #59
@wouterdebie has the enthusiasm for this patch faded? I have created pull request #153 for this.

[2015-07-03 11:24] wouterdebie commented on #59
Absolutely not! I'll check with @ravwojdyla if we can merge.

// Wouter

Fatfingered on an iPhone

[2015-07-10 23:20] simar7 opened #161 "HADOOP_HOME is deprecated."
Hello!

I was trying out snakebite on my hadoop cluster and it seems that snakebite still uses HADOOP_HOME environment variable to check things. To my knowledge, this had been deprecated lately and most new users will not have this in their config files.

I can write a patch and submit a PR that can fix this to check on HADOOP_INSTALL or HADOOP_PREFIX (both in most cases point to the same path, us

[2015-07-13 02:53] ghedsouza commented on #154
Fix merged: https://github.com/spotify/snakebite/pull/155

[2015-07-13 02:53] #154 closed

[2015-07-17 19:07] pragmattica opened #162 "Library not compatible with Windows"
I'm using Python 2.7.10 on Windows 7. I installed snakebite using the version of Pip that's bundled with the Python 2.7 Windows installer (ie. `pip install snakebite`).

When I then try to make use of snakebite as an HDFS client, I get a stack trace on import:
[code]

I may be doing something obviously wrong here, so my apologies if this isn't a real issue. If this is a known problem, I'd be inter

[2015-07-17 22:46] wouterdebie commented on #162
I think the pwd module is only available for Unix systems. We use this to get the username that runs snakebite. I have no idea  how this works in Windows. I'll leave this issue open to see if I can find a solution.
Yay for platform independence :S

// Wouter

Fatfingered on an iPhone

[2015-07-28 13:00] wouterdebie commented on #59
I guess this is solved!

[2015-07-28 13:00] #59 closed

[2015-07-28 16:46] #162 closed

[2015-07-29 01:02] thale013 commented on #59
Need help?  Happy to jump in on this one - could really use this feature

[2015-07-29 05:55] bolkedebruin commented on #59
@thale013 it is merged already and works for authentication. Encryption is not covered yet.

[2015-08-01 09:58] jkukul commented on #146
@ravwojdyla
I totally agree with the assumption that `clients are created per HDFS cluster (HA enabled or not)`. My issue relates to a situation when a developer passes a full URI of the same cluster for which the client is configured.

[2015-08-03 21:05] thale013 commented on #59
@bolkedebruin  I'm trying to get this deployed on a SASL/GSSAPI/Kerberos cluster running CDH 5.3.3 and seem to be having trouble with basic ls command (i.e. "snakebite ls /").  This returns "Found 0 Items" and I'm not really sure how to interpret the debug output quite yet (still getting my feet wet with snakebite).  Any suggestions?

[2015-08-03 21:11] chenbensong commented on #59
@thale013 this sounds like the same experience I had at https://github.com/spotify/snakebite/pull/153#issuecomment-121290538
Need to address RPC encryption which bolkedebruin might do very soon :)
To see if this is the case for your environment, search for rpc-protection in your hadoop and hdfs config xml.

[2015-08-03 21:20] bolkedebruin commented on #59
@thale013 please check above suggestion. Hopefully I will have some time to look at it this month.

[2015-08-03 21:27] thale013 commented on #59
looks like rpc-protection is set to privacy :(

@bolkedebruin - I'd like to help if I can, but not sure where to start.  Thoughts?

[2015-08-05 17:56] kuzemchik opened #165 "Snakebite cli ignores skiptrash (wrong docs) and use_trash (possible bug)"
We have multiple DC with different HDFS. Basically if you want to work like that you have to provide name node as parameter to snakebite.
Recently we faced the issue when folder with important data was deleted without moving to .Trash.
I investigated code a little bit.
Issue 1: So, 'skiptrash' configuration is not used by code, I assume documentation wasn't updated on this.
Issue 2: It looks like

[2015-08-06 11:06] tothandor commented on #37
+1

[2015-08-28 14:56] pug2694328 commented on #59
Trying to get this to work against our cluster and hitting an error.  Perhaps we need to change something on the cluster configuration?
I have a valid kerberos ticket verified by using the hdfs cli.

Using the [forked version] https://github.com/bolkedebruin/snakebite
<addr>
from snakebite.client import Client

client = Client(use_sasl=True
                ,host="<namenode host>"
                ,

[2015-08-29 07:16] bolkedebruin commented on #59
@pug2694328 I'm not sure, btw the official snakebite has my patches as well so you could try that one (however they should be the same). I am diving in next week again and can have a look again. Can you share some details about your kerberos setup? auth only or also privacy?

[2015-08-29 11:50] pug2694328 commented on #59
This is solved.  It appears the namenode hostname must be fully qualified.
I was passing just 'host', where I should have been passing 'host.<domain>.intra'.
Works like a charm now and thanks @bolkedebruin I'm now using the official version.

[2015-08-31 20:37] davidblewett commented on #145
You could use cffi: https://caremad.io/2015/06/distributing-a-cffi-project-redux/ http://cffi.readthedocs.org/en/latest/cdef.html .

[2015-08-31 22:49] ligao101 commented on #37
+1

[2015-09-02 08:47] bolkedebruin commented on #59
@thale013 @chenbensong implementing something else than "auth" will be taking a little bit longer. The patch looks to be a bit more invasive due to the fact the input stream and output stream need to be wrapped. This requires some changes in the way snakebite handles this currently.

[2015-09-16 13:58] sbretzel opened #167 "Kerberos principal hardwired"
Hello,
we have faced issues connecting to our Hadoop cluster with snakebite. Finally, we found out that in snakebite the name node's kerberos principal is hardwired to be "hdfs" -- see the connect()-method in snakebite.rpc_sasl.SaslRpcClient, where the attribute "service" is set to "hdfs". Changing "hdfs" to the name of our kerberos principal resolved our issues.

The way it looks to me is that sn

[2015-09-17 20:12] bolkedebruin commented on #167
You are most likely right. I'll check your assumption and create a pull request next week or maybe this weekend.

[2015-09-18 09:02] mbultrow commented on #37
+1 :)

[2015-09-22 20:08] tungwaiyip opened #168 "Cannot find krb5.h, enusre you have installed krb5 development library."
I hit a krb5.h error when pip install. It looks like there is a hard dependency on the python-krbV library. Is this absolutely required for snakebite to work? In the spotify blog post, it advertises itself as a a pure Python HDFS client.

Anyway, I commented out any references to sasl and kerberos. Snakebite seems to work this way.

[2015-09-23 13:07] wouterdebie commented on #168
Snakebite itself is pure python but relies on other packages, which imho is fine. Not sure what to do about the dependencies of the python-krbV library though. My pip foo isn't that great, but maybe @ravwojdyla can help out.

[2015-09-23 15:01] praveev opened #169 "Exception: RpcBufferedReader only managed to read 0 out of 4 bytes"
I am running hadoop-2.6.0 locally on my mac and have snakebite version 2.6.1.

When I invoke `snakebite -n 127.0.0.1 -p 50010 ls / ` from the CLI, I receive this exception.

I also copied the example from here http://spotify.github.io/snakebite/client.html:

` from snakebite.client import Client `
` client = Client("localhost", 50010, use_trash=False) `
` for x in client.ls(['/']): `
`	print x`

I

[2015-09-23 15:13] wouterdebie commented on #168
Also, we currently rely on python-prototobuf  which is a C package as well.

[2015-09-23 17:20] wouterdebie commented on #169
Do you seen anything in your namenode logs? The error seems to be generated on the server side.
At Spotify we run snakebite against Hadoop 2.6.0, so I'm not sure if the Hadoop version is the issue.
Do other operations work?

[2015-09-23 17:20] wouterdebie commented on #169
And are you sure 50010 is the HDFS port and not the HTTP one?

[2015-09-23 17:25] praveev commented on #169
@wouterdebie thanks. I was indeed using the HTTP port and not HDFS one.

[2015-09-23 17:25] #169 closed

[2015-09-23 17:31] wouterdebie commented on #168
This does create a problem however. I'm running into this issue when building the docs.

[2015-09-24 14:47] wouterdebie commented on #168
I've pushed a PR that should address this:

https://github.com/spotify/snakebite/pull/170

[2015-09-25 00:55] tungwaiyip commented on #168
Wonderful! Can you post to pypi?

[2015-09-30 06:16] tungwaiyip commented on #168
One workaround until 2.7.0 is uploaded is to use

   pip install snakebite==2.5.5

[2015-10-01 14:44] wouterdebie commented on #168
Done!

[2015-10-01 14:44] #168 closed

[2015-10-01 15:39] wouterdebie opened #172 "No tests for Kerberos"
Moved this into and issue (@bolkedebruin).

The issue is that there are no tests for Kerberos. I'm not sure if the minicluster can do this (@ravwojdyla) and how to setup a Kerberos realm in Travis.

[2015-10-02 09:42] bolkedebruin commented on #167
@sbretzel can you check and close the issue if it is fixed?

[2015-10-03 18:38] wouterdebie commented on #165
I'm not sure what you mean with issue 1. Can you clarify?

On issue 2: skiptrash is a client setting. Snakebite should read the config that is on your client host (either hadoop xml config or .snakebiterc) and use those settings. If you happen to connect to a different namenode than is in your config (because you use hdfs://othernamenode/mypath), the initial settings are still true. In case your d

[2015-10-08 16:05] praveev opened #173 "Snakebite Kerberos Command Line"
I have my core-site.xml  for fs.default.name and hadoop.security.authentication.
I have hdfs-site.xml for dfs.namenode.kerberos.principal.

But that alone isn't enough. I also need to specify ccache and keytab. otherwise `krbV.Krb5Error: (-1765328189, 'No credentials cache found') `

How can I test snakebite with kerberos from command line? I can't seem to find documentation on that

[2015-10-08 17:19] #173 closed

[2015-10-08 17:23] praveev opened #174 "NameError: global name 'SaslRpcClient' is not defined"
I see this error when I simply do `snakebite -D ls /`. I have rpc_sasl.py where SaslRpcClient is defined.
Do you know why this is happening?

[2015-10-08 18:31] praveev commented on #174
There seems to be an issue with the conditional import in channel.py.

@bolkedebruin helped identify this issue: https://github.com/airbnb/airflow/pull/438

If you add:
from snakebite.rpc_sasl import SaslRpcClien
from snakebite.kerberos import Kerberos

to the top of snakebite/channel.py it should start working

[2015-10-08 18:34] bolkedebruin commented on #174
To make it a bit clearer this is when using kerberos. The conditional import that happens in channel.init(...) seems not to be persistent when a call to get_connection happens.

I'm not sure how to fix this.

[2015-10-08 18:41] praveev commented on #174
my bad. I rushed the explanation. much better.

[2015-10-08 19:36] praveev opened #175 "Kerberos - javax.security.sasl.SaslException. Client mechanism is malformed"
I am using snakebite with kerberos.

When I do `snakebite -D ls /`, I notice this error:

[code]

I have cyrus-sasl pkg installed. Prior to this failure, snakebite encountered 2 mechanisms - DIGEST-MD5 and GSSAPI. But I am not sure if it chose the right one because the log for chosen mech is empty

[code]

Not sure if I am missing a package or there is a bug in the negotiation or something else

c

[2015-10-08 20:05] bolkedebruin commented on #175
So you have a valid ticket? Show the output of klist

Sent from my iPhone

[2015-10-08 20:13] praveev commented on #175
klist output
[code]

[2015-10-08 20:28] bolkedebruin commented on #175
sasl chooses that mech that in can support. I am only getting this output when the ticket has expired.

expired ticket, but available ticket cache:

[code]

[code]

[code]

[2015-10-08 20:29] bolkedebruin commented on #175
so try kdestroy & kinit

[2015-10-08 20:54] praveev commented on #175
hmm....yea tried kdestroy and kinit.

kdestroy does what it was supposed to.
kinit with keytab worked. But `snakebite ls / ` err'd out again with `Client mechanism is malformed `

This shouldn't matter but does it make a difference if I use a keytab to kinit instead of a straight up password?

[2015-10-09 00:33] praveev commented on #175
Can you check if this still works for you if you use a keytab file instead?
For whatever reason, I have duplicate keys in the keytab file (with the same principal and kvno). Wonder if that could be an issue.

[2015-10-09 06:27] bolkedebruin commented on #175
Might be. In my environment it works fine with a key tab (just tested it). Do other utilities work? ie. hadoop command line?

[2015-10-09 06:50] praveev commented on #175
hmm.....ok. yea. my hadoop command line works fine.

[2015-10-09 08:37] bolkedebruin commented on #175
Ok. To be honest I am a bit lost, because I cannot reproduce it except with a expired ticket in a cache. Furthermore, not selecting a mech is dependent on the underlying sasl (system) libraries. What you could try is shoot a bit broader and create a new user principal and try using that to connect and/or generate a new key tab.

If you you share your outputs then please include everything (ie full

[2015-10-09 15:31] praveev commented on #175
Here is the complete output. I don't own the hadoop or kerberos systems I am working with. I am trying to setup a small dev env. to debug better.

[code]

[2015-10-09 19:49] praveev commented on #175
@bolkedebruin  making progress! I got it working with kerberos on the command line.
But it does not work from the code from airflow. I suspect it has something to do with the principal name in airflow.cfg.

Should the principal be in this format: hdfs/_HOST@ABC.COM where _host will get resolved into the hostname?

[2015-10-09 20:00] bolkedebruin commented on #175
Excellent! Can you share what did you do to get it to work to also help others?

For airflow: it should be the principal that you can access your environment with, ie your own. Besides that the principal gets augmented with the host (which it maybe should not do now I am thinking about it).

[2015-10-09 20:35] praveev commented on #175
In hdfs-site.xml, I incorrectly had dfs.namenode.kerberos.principal to be praveev instead of hdfs/_HOST@LOCAL.COM. Here is a copy of hdfs-site and core-site that worked for me.

hdfs-site.xml

[code]

core-site.xml

[code]

@bolkedebruin - for the airflow part, maybe we should take this conversation to airflow repo.
here's my kerberos related parts of airflow.cfg and this doesn't work:

[core]
sec

[2015-10-09 21:14] praveev commented on #175
@bolkedebruin - for the airflow part, maybe we should take this conversation to airflow repo.
here's my kerberos related parts of airflow.cfg and this doesn't work:

[core]
security = kerberos

[kerberos]
ccache = /tmp/krb5cc_90677
principal = praveev
reinit_frequency = 3600
kinit_path = kinit
keytab = /home/praveev/praveev.keytab

For the command line, the principal is of the form hdfs/_HOST@LOCA

[2015-10-09 22:19] ctimmins commented on #37
in the mean time:

import subprocess

subprocess.check_call(['hdfs', 'dfs', '-put', '/path/to/src', 'path/to/dst'], shell=False]

[2015-10-09 23:08] praveev commented on #175
@bolkedebruin I am unable to replicate the command line behavior with the library.

**Script-1**
from snakebite.client import Client
client = Client("hadoop-namenode", 8020, use_trash=True, use_sasl=True)
for x in client.ls(['/']):
....print x

**Script-2**
from snakebite.client import Client
client = Client("hadoop-namenode", 8020, use_trash=True, use_sasl=True, effective_user="hdfs/_HOST@LOCAL.C

[2015-10-10 06:49] bolkedebruin commented on #175
I think you need to read up a little how Kerberos works and how it works in a Hadoop environment.

For now I would leave out the effective user specifically because your are configuring it as the hdfs administrative user.

For the principal use the principal that you are using to do a kinit with.

And yes this thread should be on the airflow mailing list.

[2015-10-13 14:07] #174 closed

[2015-10-13 15:13] bolkedebruin commented on #172
There are a two main conditions that need to be met to allow for kerberos integration testing:

1. A functional KDC
2. Hadoop running secured (in case of snakebite just HDFS is required)

To get a functional KDC running there seem to be several options:

1. Full KDC in Docker (something like this: https://github.com/tillt/docker-kdc).
2. MiniKdc from Apache Hadoop (discussion here: https://issues.

[2015-10-14 12:37] jtaryma commented on #37
+1

[2015-10-20 12:48] sbretzel commented on #167
Hi,
I've tested the most recent snakebite release (2.7.2) and it works like a charm. So I guess this issue can be considered resolved.
Thanks & best regards,
Stefan

[2015-10-20 12:48] #167 closed

[2015-10-22 22:28] eschlon commented on #175
I'm having the same issue, though nothing to do with Airflow.

The CLI works fine
[code]

The python code fails
[code]

Same result when running the code via python test.py (without the repl)
[code]

[2015-10-22 22:49] praveev commented on #175
@eschlon use AutoConfigClient. http://snakebite.readthedocs.org/en/latest/client.html#snakebite.client.AutoConfigClient

[2015-10-23 07:01] eschlon commented on #175
@praveev Thanks, I will try that tomorrow morning and report back.

[2015-10-23 17:37] eschlon commented on #175
You're a wizard. AutoConfigClient works like a charm.

[2015-10-23 18:41] bolkedebruin commented on #175
Ill check whether this is really an issue with snakebite or a user config issue.

[2015-10-28 12:19] jwszolek commented on #37
@ravwojdyla - is there a separate branch for that issue? Did you have a chance to push what you had already done? Thanks!

[2015-10-29 18:40] toryhaavik opened #178 "Request to improve HAClient failover"
The HAClient could be improved slightly to handle the following real-world situation:

Time 00:00 - create HAClient & namenode-2 is Active
Time 03:00 - namenode-2 fails, namenode-1 takes over as Active
At this time, all future requests fail with `RequestError: org.apache.hadoop.ipc.RpcServerException`.

We could improve HAClient to start at the top of the list of namenodes at Time 03:00.

[2015-11-07 12:57] aeroevan commented on #37
It looks like a go library similar to snakebite has started making progress on writing to hdfs:
https://github.com/colinmarc/hdfs/pull/12

[2015-11-16 12:20] kretes opened #179 "autocompletion broken after nesting in a path that contains '='"
When autocompleting snakebite ls it works up to a point where I go into a directory that contains '='

e.g.
/projects/[tab]
gives
/projects/project=A/[tab]
gives nothing although there are more things to autocomplete there.
I think the problem is in '=' because this is the only new character I see when it stops working

using snakebite 2.7.2

[2015-11-24 18:44] obalaspiq opened #181 "List requirements for Client.{ls,cat,text}"
Is there a reason these methods require a list? Or maybe better question, is there a reason not to add `if isinstance(paths, str): paths = [paths]` so that paths can either be a single directory/file or a list of directories/files?

[2015-11-27 08:13] Tarrasch commented on #62
@talumbau @gpoulin @vmarkovtsev @wouterdebie. Do you guys have any updates on the status for the python 3 support?

[2015-12-01 06:18] gpoulin commented on #62
@Tarrasch Even thou I'm currently working more in scala, I'm willing to help here. However, my understanding is that the version of protobuf that snakebite is currently using doesn't support python3. So if snakebite can support a protobuf version that support python3, I can help to make this project python3 compatible.

[2015-12-01 07:03] Tarrasch commented on #62
@gpoulin, I did try to scan the status for protobuf and python3 in general, but it doesn't seem to be well supported if at all.

Since I can not wait for a way to do hdfs fast in python3, I'll probably switch over to webhdfs.

[2015-12-02 10:47] Tarrasch commented on #62
For luigi users who are fine with using webhdfs, this could be relvant spotify/luigi#1438

[2015-12-08 20:34] bddppq opened #182 "Any particular reason to the protobuf version constraint >2.4.1?"
Currently it requires protobuf > 2.4.1
Is there any particular reason? I'm asking this because we internally are using a customized protobuf, which is based on 2.4.1.

[2015-12-22 08:43] Condla commented on #37
+1

[2015-12-22 08:55] sodul commented on #37
An alternative that is relatively snappy is to use httpfs, it is a service that provide an http interface to hdfs. We actually ended up writing our own REST API in groovy to access hdfs and the hbase shell (which has no API).

https://hadoop.apache.org/docs/current/hadoop-hdfs-httpfs/index.html

[2016-01-06 09:04] qianglchina opened #183 "No copyFromLocal function in CLI client command line"
Hi,
I have checked the usage of command line. There is only "copyToLocal"  and I can't  find "copyFromLocal".

how should i do if i want to put local file to hdfs by this client ?

[2016-01-07 12:37] tworec commented on #37
+1

[2016-01-12 06:51] dacjames opened #185 "Support hadoop.rpc.protection=privacy"
Based on our testing, snakebite does not to function when RPC encryption (aka privacy mode, aka auth-conf) is enabled. More specifically, SASL connects fine and snakebite does not throw errors for simple operations, but fails to return any useful results (no items for ls, always True for test, etc.).

Investigation showed that protobuf was not deserializing any fields because the data was still en

[2016-01-13 11:37] ispmarin commented on #99
Hey all,

Sorry about going back to a closed issue but I'm having the same message when trying to connect to my hadoop cluster.

- protobuf 2.6.1, python 2.7
- snakebite 2.7.2

Any hints?

Cheers

[2016-01-13 22:47] fjblau opened #186 "Snakebite calling wrong python directory"
Franks-MacBook-Pro:bin frankblau$ snakebite -version
-bash: /usr/local/bin/snakebite: /usr/local/opt/python/bin/python2.7: bad interpreter: No such file or directory

How do I tell snakebite where python is?

[2016-01-14 01:02] cstacey42 opened #187 "Support for CHECKSUM_NULL"
Hi,

Please add support for CHECKSUM_NULL.

Easy two line fix in channel.py

[code]

Should probably also add logic to ignore the --checkcrc option if the checksum is non/null.

Thanks,
Chris

[2016-01-14 01:17] cstacey42 commented on #187
Quick hack to ignore --checkcrc option if CHECKSUM == NULL

[code]

[2016-01-19 23:56] kmatt opened #190 "Unexpected end-group tag"
Python 2.7 on OS X 10.10, protobuf (2.6.1), snakebite (2.7.2):

[code]

[2016-01-19 23:56] kmatt commented on #190
Full debug output:

[code]

[2016-01-25 18:47] wouterdebie commented on #187
Fix has been merged to master

[2016-01-25 18:47] #187 closed

[2016-01-25 18:53] jcdecho opened #191 "IWBN to retry after namenode failures"
Hello,
When snakebite queries all known namenode servers, and they fail, we get errors like:

INFO:  File "... /snakebite/client.py", line 1392, in wrapped
INFO:    self.__handle_request_error(e)
INFO:  File " ... /snakebite/client.py", line 1370, in __handle_request_error
INFO:    self.namenode.next()
INFO:  File " ... /snakebite/client.py", line 1361, in _switch_namenode
INFO:    raise OutOfNNEx

[2016-01-25 19:08] wouterdebie commented on #191
Sounds sensible we should have retry logic. Some thoughts:

- I think this should be configurable by the user (max retries, retry length, exponential back-off, etc) and we shouldn't change snakebites default behavior (= no retry).
- When do we retry? Only on OutOfNNException will only work for the HAClient. Are there other cases where we want to retry? Like ConnectionRefused, etc?

[2016-01-25 20:20] cstacey42 commented on #187
Thank you. :)

[2016-01-25 23:43] wouterdebie commented on #178
I'm not completely sure what goes wrong here. Snakebite should cycle through namenodes. Unfortunately the order is set by configuration right now, so if the first namenode becomes unresponsive, snakebite might timeout before it uses the second namenode. I think this could be solved by letting snakebite talk to zookeeper and figure out the active namenode from there.

[2016-01-25 23:44] wouterdebie commented on #190
What hadoop version are you running?

[2016-01-25 23:45] wouterdebie commented on #186
Seems there is a problem with your setup. Snakebite uses `/usr/bin/env python` to figure out where your python is. Does the command `python` work for you?

[2016-01-25 23:47] wouterdebie commented on #185
I personally have zero clue of kerberos or SASL. Maybe @bolkedebruin, who did the kerberos implementation knows?

[2016-01-25 23:48] wouterdebie commented on #182
Not completely sure why that was. Can you try running against your custom version?

[2016-01-25 23:51] wouterdebie commented on #181
No particular reason, but I think we wanted a consistent interface and not have magic happen in the implementation. Let the user take care of transforming arguments into lists. The api itself now makes it clear that those operations can operate on multiple paths at the same time.

[2016-01-25 23:51] #181 closed

[2016-01-25 23:52] wouterdebie commented on #179
Does `snakebite ls /projects/project=A/` work though? or do you escape the `=` character?

[2016-01-25 23:54] wouterdebie commented on #175
Any update on this issue?

[2016-01-25 23:56] wouterdebie commented on #161
Would be great if you write a patch (+tests) for this!

[2016-01-25 23:57] #158 closed

[2016-01-26 00:00] wouterdebie commented on #146
I'm not sure we want to stimulate this behavior. I think it's the responsibility of the developer to make sure that the input is sanitized. Having snakebite respond to URIs in those calls makes it do magic under the hood. Basically if client.host+client.port are in the URI, snakebite should work, but otherwise it shouldn't. Magic :)

[2016-01-26 00:00] #146 closed

[2016-01-26 09:06] bolkedebruin commented on #185
encryption requires fundamental changes to snakebite as we then need to wrap/unwrap the protocol. In our environment we are not using it and that makes it a bit hard to test it. To be honest for me it is not very high on my priority list currently.

[2016-01-27 19:49] dacjames commented on #185
Would you be interested in merging patches that added this feature if we worked on it?

[2016-01-27 20:04] dacjames commented on #178
The problem for us is that snakebite does not understand nameservices, so it does not map HA hdfs urls to the correct namenodes. For example, if you have a hdfs-site.xml configured with nameservice IDs, it will look something like this:

[code]

Ideally, the HAClient would know the nameservice to namenode mapping, so that urls like `hdfs://opal-ha/` work in snakebite the way they do with official

[2016-01-27 20:15] wouterdebie commented on #185
Absolutely!

// Wouter

Fatfingered on an iPhone

[2016-01-28 20:34] tristanwietsma commented on #185
@bolkedebruin, I'm seeking a little wisdom on this workflow...

From looking at the current implementation, the negotiation process is not encrypted. I'm guessing this wrap/unwrap only applies to a data payload since the auth part can be safely viewed over the wire, but I'm having a little trouble grokking where that encrypted payload is. Is it a field in the protobuf or an entire buffer?

cc @che

[2016-01-28 21:23] bddppq commented on #182
It works with our customized 2.4.1 version

[2016-01-30 19:28] dacjames commented on #185
@tristanwietsma based on our testing, the entire payload is encrypted. The negotiation process includes a Quality of Protection (qop) setting that you read to determine whether encryption (and/or a MAC for integrity protection) should be used. I believe the full details are described in this [RFC](https://www.ietf.org/rfc/rfc2831.txt).

[2016-02-02 20:38] krise3k commented on #62
@gpoulin  protobuf compatible with python3 has been relased https://pypi.python.org/pypi/protobuf/3.0.0b2

[2016-02-17 22:51] crorella commented on #183
They disabled that option in 2.2, not sure why.

[2016-02-17 22:54] crorella commented on #37
:+1:

[2016-02-17 23:09] wouterdebie commented on #37
Because it was never implemented.
On Feb 17, 2016 17:54, Cristian Orellana <notifications@github.com> wrote:

—Reply to this email directly or view it on GitHub.

[2016-02-18 20:33] garthcn commented on #175
Any update on this? I ran into the same issue.
This doesn't work:
[code]
while this work:
[code]

I checked the config `AutoConfigClient` generated and it's exactly the same as the values I passed to `HAClient`.

[2016-02-18 22:05] garthcn commented on #175
@praveev @eschlon @bolkedebruin @wouterdebie
Did you guys have any update on this? Please see my post above.

`AutoConfigClient` worked for me and I printed out the config in `AutoConfigClient`. Then I used those values and created client with `HAClient` and `Client` but they both returned the `javax.security.sasl.SaslException. Client mechanism is malformed` error message.

It seemed really weird

[2016-02-18 22:46] garthcn commented on #175
I think I found the cause of the problem (in my case).

`__init__` in `AutoConfigClient` calls:
[code]
which has side effects. In `HDFSConfig.get_external_config()` which calls `read_hdfs_config()`, there are two lines:
https://github.com/spotify/snakebite/blob/master/snakebite/config.py#L90
https://github.com/spotify/snakebite/blob/master/snakebite/config.py#L94

This is the only way `cls.hdfs_na

[2016-02-19 02:06] wouterdebie commented on #175
@ravwojdyla any thoughts on this?

[2016-02-19 14:23] bolkedebruin commented on #175
@garthcn I completely agree with your assessment and thanks for tracking this down. I wouldn't call it side effects that the hdfs principal is set by the auto configuration. Maybe a proper fix is the append to the configs, like in line 85. But that is just from looking at this piece of code, I haven't thought about the implications.

[2016-02-20 00:27] garthcn commented on #175
@bolkedebruin
We can probably make line 12~15 [here](https://github.com/spotify/snakebite/blob/master/snakebite/config.py#L12) into instance variables. Then `read_hdfs_config()` and `read_core_config()` can return something like:
[code]
Then, change `Client`, `HAClient` to take in `hdfs_namenode_principal`; and `AutoConfigClient` will read the auto-configured `hdfs_namenode_principal` from the dic

[2016-02-21 12:44] bolkedebruin commented on #175
@garthcn to me that seems to most elegant solution. For airflow I will create a patch that allows you to specify the principal or to use the autoconfig functionality

[2016-02-23 19:53] garthcn commented on #175
@bolkedebruin sounds good.
@ravwojdyla @wouterdebie any thoughts on the proposal above?
I'm working on a pull request.

[2016-02-24 01:14] garthcn commented on #175
I just updated the pull request and it should be ready for review

[2016-02-24 19:29] wouterdebie commented on #175
Looks good to me. One slight thing is that I was a bit confused by the term `configs` (I know the term was used already). Maybe `config_parameters` is a better term? I

Still waiting on @ravwojdyla..

[2016-02-25 06:31] ravwojdyla commented on #175
#192 was merged - once new version is released, and the issue is gone we could close the issue.

[2016-02-25 06:34] bolkedebruin commented on #175
Thanks and also thanks to @garthcn

[2016-02-25 16:42] wouterdebie commented on #183
The option was there, but it was never implemented and was confusing.

Duplicate of #37

[2016-02-25 16:42] #183 closed

[2016-02-25 19:02] garthcn commented on #175
Thanks everyone!

[2016-03-04 16:58] wouterdebie commented on #191
#194 should help with this. Feedback before we merge this would be appreciated!

[2016-03-14 15:25] jolexa opened #196 "Question: Why does README specify to install version 1.3.x?"
As a new user, I thought that version 1.3.x was special, then I found the current release is 2.8.x - any reason that this exists in the README?

[2016-03-14 20:41] kirklg commented on #62
Hey all, first of all, great work, this project is exactly what I need for a hadoop project I'm working on, and speed is definitely important (py3 more specifically).

Anyways, I'm going to take a stab at this, python-protobuf3 looks stable and my initial py3 compat work looks promising. I will update when I have more, thank you.

[2016-03-17 20:39] austintrombley opened #197 "no module named Client"
When I tried this code from the documentation:

from snakebite.client import Client

I got the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named client

[2016-03-17 20:51] wouterdebie commented on #197
Are you sure snakebite is in your python path?

[2016-03-17 22:27] austintrombley commented on #197
I did a pip uninstall and then easy_install of snakebite and it worked

[2016-03-17 22:32] austintrombley commented on #37
+1

[2016-03-24 17:57] philpot commented on #37
+1

[2016-03-24 17:59] zachmullen commented on #37
Github recently added a handy new feature to avoid all the "+1" comment spam. You can now vote +1 on an issue by going to the top comment, clicking the little smile face in the upper right and then click the thumbs up.

[2016-03-28 15:06] erose opened #199 "Paths matching '{.*}' are not searchable"
Thanks for making Snakebite -- it's made my job a lot easier!

I'm reporting a minor issue with paths that contain the character '{' followed by the character '}'. My company's Hadoop cluster does have some of these paths. We get a file not found error in Snakebite because the custom globbing (i.e. https://github.com/spotify/snakebite/blob/master/snakebite/glob.py#L20) tries to resolve `a/{bc}` as

[2016-03-28 17:28] rdn32 commented on #48
It is possible to call recvmsg in earlier versions of Python as well, even though it isn't exposed as part of the socket module. I've had a crack at implementing stuff to do this with ctypes here: https://gist.github.com/rdn32/eb2b823451187b5db363

[2016-03-29 08:57] xjg2010go opened #200 "Kerberos - javax.security.sasl.SaslException. Client mechanism is malformed"
hi I'm a beginer for using snakebite. when I exec " snakebite -D ls / ",It works.It turn out like this:
[root@sjs_38_58 src]# snakebite -D ls /

when I  use it  in ipython like this:

It does not work.
when I look up the manual doc, I find this parameter, "hdfs_namenode_principal", what should I set it? The hdfs authentication use Kerberos.

[2016-05-12 16:00] abtpst opened #202 "Possible bug : Methods work only with print"
I am using the snakebite client and i notice a strange behavior when i try to make a directory or move files around in hdfs. Here is my code. All it does it move the contents of the source directory to the destination directory. Then finally, displays the content of the destination directory

    def purge_pending(self,source_dir,dest_dir):

            if(self.hdfs_serpent.test(path=self.root_dir

[2016-05-12 16:14] kirklg commented on #202
@abtpst I believe `rename` and `mkdir` are generators, so if you did something like this, it should work:

[code]

Obviously if the first `arg`, `paths` has > 1 path/item specified, you'll have to use a for loop or some other iterator type code to execute the hdfs method on all `paths`.

Hope this helps.

[2016-05-12 17:42] abtpst commented on #202
thanks kirklg. any particular reason of keeping these method return types as generators?

[2016-05-12 18:18] kirklg commented on #202
The standard return type is generators all around (from reading the source), you will get better performance in the case where you have to execute a command for every `path` in `paths`, instead of building an intermediate `list` or data structure of return values.

[2016-05-12 20:25] abtpst commented on #202
makes sense. thanks

[2016-05-12 20:25] #202 closed

[2016-05-18 01:42] #197 closed

[2016-05-18 01:42] wouterdebie commented on #196
1.3.x is for hadoop 1.x, while 2.x is for hadoop 2. I your hadoop installation is recent, just go for 2.x.

[2016-05-18 01:42] #196 closed

[2016-05-18 01:43] wouterdebie commented on #191
#194 fixes this.

[2016-05-18 01:43] #191 closed

[2016-05-18 01:43] #190 closed

[2016-05-19 06:55] anneschuth commented on #62
@kirklg awesome! Did you make any progress?

[2016-05-19 16:15] kirklg commented on #62
@anneschuth, yes, but its been slow moving, I have my fork, https://github.com/kirklg/snakebite/pull/2, that you can watch if you want to subscribe to progress :). I have a string of commits coming soon when I find the time, thanks.

[2016-05-19 16:44] anneschuth commented on #62
Thanks @kirklg, looking forward to your commits!

[2016-05-19 16:50] kretes commented on #179
it works without escaping

[2016-05-23 17:22] kmatt commented on #190
Missed this in email. Was running Hadoop 2.7.0 at the time.

[2016-05-27 04:16] hungthe commented on #200
I have same issue and install those packages:
`sudo apt-get install cyrus-sasl2-mit-dbg libsasl2-modules-gssapi-mit`
Hope it will work.

[2016-05-31 20:32] agrebin commented on #37
+1
I've given my smiley but, just in case :)

[2016-06-05 11:32] odedfos commented on #27
This would surely be a great feature!

[2016-06-07 12:26] ehiggs commented on #161
[HADOOP_HOME is no longer deprecated.](https://issues.apache.org/jira/browse/HADOOP-11393).

[2016-06-09 17:23] simar7 commented on #161
Thanks for pointing that out @ehiggs

[2016-06-09 17:23] #161 closed

[2016-06-15 22:50] #186 closed

[2016-06-22 10:51] cherrot commented on #37
I planned to implement a storage service for big files using `snakebite` because I really like its implementation. Sadly it didn't support saving file.

Maybe I would switch back to it when this feature has been implemented :)

[2016-07-06 18:23] longling2016 opened #205 "SIMPLE authentication is not enabled"
When I am running the command below
snakebite ls hdfs://...
it gives me an error like that:
Request error: org.apache.hadoop.security.AccessControlException
SIMPLE authentication is not enabled.  Available:[TOKEN, KERBEROS]

Does anyone know why it happen? Any solution for that? Thanks so much!

[2016-07-13 21:31] hegu8 opened #207 "Inflexible config path"
When auto config client tries to read config from `$HADOOP_HOME`, it only reads configs from `$HADOOP_HOME/conf`, would be great to allow it to read from other directories as well.

[2016-07-13 21:45] hegu8 commented on #207
Found the solution from source code of `snakebite.config.HDFSConfig`, just point `$HADOOP_CONF_DIR` to the config dir. This wasn't mentioned in [the doc](http://snakebite.readthedocs.io/en/latest/cli.html) though, so I think it worth put it on the doc to make it complete

[2016-07-13 21:57] wouterdebie commented on #207
Could you make a PR for the doc?
On Jul 13, 2016 17:45, "He Gu" <notifications@github.com> wrote:

[2016-07-13 22:51] hegu8 opened #208 "Use snakebite to download file in HDFS in private network"
I'm trying to use snakebite to download a file in the HDFS cluster hosted on amazon AWS from a machine outside of AWS, and it failed since snakebite uses data nodes' private IPs returned by the name node to connect to them. I set `dfs.client.use.datanode.hostname` to true so `hdfs dfs -get` would work but it seemed that snakebite wasn't picking up that config, is there a way to do this?

[2016-07-15 23:54] guhehehe commented on #208
Created a [pr](https://github.com/spotify/snakebite/pull/210) for this issue.

[2016-07-26 05:51] francisar opened #211 "can not put file to hdfs"
this client doesn't support put file to hdfs

[2016-07-27 00:24] guhehehe commented on #211
there's a [thread for this feature](https://github.com/spotify/snakebite/issues/37) long time ago, but somehow it's never implemented.

[2016-07-27 00:31] wouterdebie commented on #211
Yep, duplicate of #37

[2016-07-27 00:31] #211 closed

[2016-07-27 05:35] francisar commented on #37
wait for this to bbe implemented

[2016-07-27 05:36] francisar commented on #211
wait for it

[2016-07-30 10:42] iamvishalrajan opened #212 "support for dfsamin commands"
Was not able to find support for dfsadmin commands in snakebite module

[2016-08-03 14:23] heuvel commented on #175
I was having the same problem as in the OP and for me the actual problem turned out to be missing the cyrus-sasl-md5 and(/or?) cyrus-sasl-gssapi packages. Installing these packages solved it.

[2016-08-03 16:58] wouterdebie commented on #175
Can someone update the docs on this?

[2016-08-05 00:14] saurabhsawant opened #213 "AutoConfigClient.mkdir does not create directory"
AutoConfigClient.mkdir does not create directories.

[2016-08-05 00:21] wouterdebie commented on #213
Can you be a bit more specific? Show how you invoke the client?

[2016-08-05 23:33] saurabhsawant commented on #213
Thank you for followup :)

Here is what I am doing
[code]

[code]

But when I try to create a directory using mkdir, it does not have any effect
[code]
No effect for this

but if i create using "hadoop fs -mkdir, it does"

[2016-08-05 23:34] saurabhsawant commented on #213
I tried with create parent =  True flag , still nothing
I tried mkdirp but AutoConfigClient does not have it I guess.

[2016-08-05 23:36] saurabhsawant commented on #213
More info:

[code]

[code]

[2016-08-05 23:50] wouterdebie commented on #213
mkdir return a generator that you have to consume for it to execute. It's
in the docs. This is done because you can pass in multiple paths and each
path can fail or succeed independently.

On Aug 5, 2016 7:36 PM, "saurabhsawant" <notifications@github.com> wrote:

[2016-08-06 00:15] saurabhsawant commented on #213
Okay I see !
I will try that.
Thank you for the prompt reply.

[2016-08-06 16:14] #213 closed

[2016-08-08 20:11] wouterdebie commented on #212
Is there a good reason for adding those? Most of those commands are not executed that often. The idea behind snakebite was to have a fast client for operations that you do a lot.

[2016-08-23 05:49] leocook commented on #205
you use KERBEROS in you cluster?

[2016-08-24 16:52] wesmadrigal commented on #37
This was opened 3 years ago and still not implemented...wtf?

[2016-08-30 17:28] hsaputra commented on #59
Hi All. Any release already containing this change?

[2016-08-30 19:01] bolkedebruin commented on #59
For a long time...

[2016-08-30 22:20] hsaputra commented on #59
Ah, thanks, I should have read the year this issue is closed more carefully =(
Sorry for commenting up on old issue

[2016-09-01 02:00] kaiwei0 commented on #37
Use webhdfs instead.

[2016-09-02 08:20] 9nix00 commented on #37
unbelievable,3 years 😱
I am using snakebite from yesterday.

[2016-09-02 13:49] zachmullen commented on #37
If this feature is truly critical to you, I'd suggest checking out [hdfs3](http://hdfs3.readthedocs.io/en/latest/), it's BSD licensed and implements this capability. Also supports python 3.

[2016-09-03 05:22] 9nix00 commented on #37
libhdfs3 is so hard to config on MacOSX 😓  I use webhdfs write data.

[2016-09-13 12:41] arudyk commented on #37
3 years later...

[2016-09-13 13:02] wouterdebie commented on #37
Honestly, I'm not sure how complaining and pointing out the obvious is
going to help getting this implemented.

Yes, this feature has been open for a very long time, but writing is a
complicated operation in HDFS. Snakebite was conceived to work around long
JVM startup times, which matters mostly for operations that you do often
and should be relatively short (ls, test, etc). In cases where you re

[2016-09-13 13:17] DandyDev commented on #37
To be fair, this feature was mentioned both in an ealier version of the documentation and the original blog post announcing Snakebite. You can't blame people interpreting this as some sort of promise :)

Is that really all there is to it? I suggested WebHDFS before, which is just a REST API, so it doesn't have anything to do with JVM startup times, but it _does_ give you a much easier path to impl

[2016-09-13 15:37] FlorianWilhelm commented on #62
@kirklg Any news on your PR? I am also looking forward to snakebite with Python 3 support. Thanks for making this possible.

[2016-09-14 07:30] FlorianWilhelm opened #215 "Unexpected end-group tag"
I am running in the same end-group tag issue that was actually already filed in #99 and #190 which were closed but never solved.  You'll find the debug output below. I am using _hive-1.1.0+cdh5.6.0+377_ and here is the output of ``pip list``:

protobuf (3.0.0)
python-krbV (1.0.90)
sasl (0.2.1)
setuptools (26.1.1)
six (1.10.0)
snakebite (2.11.0)
wheel (0.29.0)

Here is my actual script. I tried als

[2016-09-28 15:31] tworec commented on #37
@DandyDev maybe this SO thread will (at least partially) explain why WebHDFS is not exactly what we want:

http://stackoverflow.com/questions/31580832/hdfs-put-vs-webhdfs

It seems that webhdfs is 4x slower.
Furthermore if we were using WebHDFS, theres no need to read Hadoop code and port it to python.

[2016-10-11 12:51] mikayla-grace opened #216 "Invalid syntax and module error"
Installed snakebite-2.11.0 under CentOS 7 and Fedora 24.  Both return an invalid syntax and a module exception:

[code]
Once we fixed this, a module exception is thrown:

[code]

[2016-10-11 13:27] mikayla-grace commented on #216
Apparently Snakebite does not work with Python 3, reverted to 2 and its working now.

[2016-10-11 13:27] #216 closed

[2016-10-24 16:22] synfinatic opened #217 "TransientException: RpcBufferedReader only managed to read 0 out of 4 bytes"
Looks similar to #169, but a few things I should mention:

1. I'm using the snakebite API via [Inviso](github.com/netflix/inviso)
2. The error is happening during iteration of [client.ls()](https://github.com/Netflix/inviso/blob/master/jes/inviso/monitor.py#L295)
3. The problem happens randomly, usually on large recursive listings.

I've looked on my namenode log files and haven't seen any red fla

[2016-10-24 16:42] synfinatic commented on #217
[code]

I should also mention, I'm using different library versions then what Inviso has out of the box.  My requirements.txt:

argparse==1.2.1
arrow==0.4.2
boto==2.26.1
elasticsearch==1.0.0
futures==2.1.6
#protobuf==2.5.0
protobuf==2.6.1
python-dateutil==2.2
pytz==2013.9
requests==2.3.0
six==1.5.2
#snakebite==2.4.1
snakebite==2.11.0
#urllib3==1.7.1
urllib3==1.18

[2016-10-25 09:53] hmmohsin opened #218 "Incomplete File Transfer from Hadoop"
Hi,
I am using snakebite client to fetch files from single node cluster. Despite the fact that snakebite cli is perfectly fetching entire file, I am unable to fetch entire file from Hadoop using readBlock() method. Regardless the file, the transfer fails after getting exact 15K bytes.

Under my cluster settings, file block size is 128MB while all the files that I have placed in cluster are under 6

[2016-11-20 01:40] binhnv commented on #200
I had the same issue and installing packages that @hungthe mentioned works for me

[2016-12-02 12:42] tworec opened #220 "mkdir, mv, touchz return 0 on error while rmdir, rm and ls return 255"
here's demo

[code]

`mkdir`, `mv` and `touchz` are allways returing 0, no metter what is te operation status

don't tested rest of commands

[2017-01-04 17:40] prabcs opened #221 "[Info] - Mock Snakebite to point to LocalFS"
Is there a way to Mock Snakebite to point to LocalFS for the purpose of unit tests ?

[2017-01-04 17:54] wouterdebie commented on #221
Not right now. Should be trivial to implement though.

[2017-01-05 08:25] drorata opened #222 "Compatibility with Python 3.x"
If I understand correctly, the following line: https://github.com/spotify/snakebite/blob/master/snakebite/client.py#L1473 breaks the compatibility with 3.x. Is that correct? Is it a feature?

[2017-01-05 09:15] tejasmanohar opened #223 "Compatibility with EMRFS (S3)?"
I'm using Spark on AWS EMR against S3 via [EMRFS](http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/emr-fs.html) and trying to use snakebite to test whether a file exists on S3 via EMRFS's consistent view.

I am not sure of all implementation details of EMRFS, but I assume it's some sort of HDFS VFS. What I can tell at first glance is `hadoop fs` recognizes s3://* paths without any

[2017-01-06 22:13] tworec commented on #37
nice reading for this thread
http://wesmckinney.com/blog/python-hdfs-interfaces/

[2017-01-14 01:14] rajeshcode commented on #182
I was getting error as below any idea?
++++
$ python
Python 2.6.6 (r266:84292, Jul 23 2015, 15:22:56)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-11)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.6/site-packages/snakebite-2.11.0-py2.6.egg/snakebite/client.py", line 16, in <

[2017-01-14 01:51] rajeshcode opened #224 "snakebite in kerberos cluster not able to authenticate"
I was getting error as below any idea?
++++
$ python
Python 2.6.6 (r266:84292, Jul 23 2015, 15:22:56)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-11)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

from snakebite.client import Client
Traceback (most recent call last):
File "", line 1, in
File "/usr/lib/python2.6/site-packages/snakebite-2.11.0-py2.6.egg/snakebite/client.py

[2017-02-15 08:10] sumyeon commented on #62
Hey, are there any news on support for Python 3?
I hope to heare any news, even if it is negative.

[2017-02-15 10:22] wouterdebie commented on #62
Given that at Spotify we don't use python3 there is no incentive to work on
this. I hope someone else from the community takes a stab at this, but it's
hard to say it that will happen.

On Feb 15, 2017 9:10 AM, "sumyeon" <notifications@github.com> wrote:

[2017-03-02 21:08] nchammas commented on #222
Dup of #62.

[2017-05-04 23:57] tjskrish opened #225 "Does Snakebite 1.3 have Kerberos support?"
Please close it when you respond with a yes/no. Thanks!

[2017-05-05 03:24] wouterdebie commented on #225
No, sorry. This is only available in the 2.x branch. I'm wondering why
you're still on Hadoop 1.x though.

On May 4, 2017 19:58, "Thejas Krishnan" <notifications@github.com> wrote:

[2017-05-31 18:40] admitriyev opened #226 "Support viewFS"
Is there a plan to support ViewFS?

[2017-06-10 07:10] baiyunping333 commented on #37
I will implement the feature!

[2017-06-12 07:52] zhaochl opened #227 "how to write to hdfs"
clients offers a lot of apis about read from hdfs, but none of how to write a file to hdfs, for example write from a variable to hdfs , or write from a csv file to hdfs.

[2017-06-14 17:53] dhuang commented on #227
See https://github.com/spotify/snakebite/issues/37.

[2017-06-19 22:05] rtets commented on #62
before I (very ambitiously) start from scratch on this, has anyone already begun on it?

[2017-07-14 09:17] tworec commented on #220
ping! :) Is there anybody here?

[2017-07-28 17:58] schretzi opened #230 "SSL-Support?"
Hey,

just to prove it, SSL support is not integrated in the moment, right? If I run it against our unprotected sandbox server it runs fine, but when I want to use it with our Production Cluster which has SSL wire encryption for all protocolls enabled I get 0 items back.

[2017-08-07 07:52] jackyao commented on #39
2017-08-07 15:47:37,862 WARN org.apache.hadoop.ipc.Server: Incorrect header or version mismatch from 10.4.37.222:35721 got version 9 expected version 4

[2017-09-20 15:03] pragmattica commented on #217
We recently also had some "RpcBufferedReader only managed to read" errors, and I wanted to make a note here with our suspicions. Hopefully these notes will prove useful to someone at some point.

We had never seen this error before, through several years of using snakebite. However, when it came up last week-end, it appeared to be related to using snakebite to download incredibly massive files fro

[2017-10-09 01:33] uChauhan opened #231 "test(path, exists=False, directory=False, zero_length=False): incorrect output"
Hi ,

Can anyone help me with the example on how to use this function.
my test directory is empty and
I tried with test('/test/',  zero_length=True) and it returned true for an empty directory.
where as I believe it should return false

Basically i am looking for some utility to check if any hdfs directory or subdirectory is empty or not
if empty i want to delete that directory itself

quick respo

[2017-10-09 06:46] davoscollective commented on #62
@rtets Appears to have been attempted in the past, and subsequently obliterated
e.g.
https://github.com/spotify/snakebite/commit/094e801e88f17dcaaac14fe2d98d72ce83de1b7f#diff-d9827893b8ca9a0f86a685a5fd2327b5

there's still some evidence of Python 3 compatibility e.g.
[code]

I fear that you'd make this effort, and then it wouldn't last long before it reverts to Python2 specific code again. Shame,

[2017-10-16 20:21] daveFNbuck opened #232 "mv moves globs to the wrong location when a directory already exists"
Script to trigger this:

[code]

This fails to move `/tmp/test_trash/a` to `/tmp/test` because /tmp/test/a` already exists. Weirdly, it then goes on to successfully move `/tmp/test_trash/a/b` to /tmp/test/b`. If we don't make the `/tmp/test/a` directory, this works as expected, creating `/tmp/test/a/b`.

[2017-10-16 23:39] daveFNbuck opened #234 "Python2.6 Tests Failing"
Travis doesn't seem to have a 2.6 interpreter installed.

[2017-10-28 13:08] animenon commented on #234
[code]
![image](https://user-images.githubusercontent.com/6907950/32134647-2f5c8076-bc0f-11e7-8843-2ae0a254ffa4.png)

[2017-10-28 17:19] animenon commented on #234
@wouterdebie @ravwojdyla please check.

[2017-11-10 07:24] shen-xianpeng opened #237 "does snakebite support connecting through hadoop ha proxy host"
**core-hdfs.xml**
[code]

**hdfs-site.xml**
[code]

above is the name node high available configuration,
can i use below code?
[code]

[2017-11-14 23:32] dcapwell opened #238 "snakebite.errors.RequestError: javax.security.sasl.SaslException Client mechanism is malformed"
Related-To: https://github.com/spotify/snakebite/issues/175

I am trying to get snakebite to work (for Airflow) in a container environment and having a few issues.  I removed Airflow (target client) from the picture and created this basic script to test things out

[code]

I have two clusters I am testing out; a hadoop cluster I created, and one created by CDH.  When I run the above script on a ph

[2017-11-15 00:59] dcapwell commented on #238
[code]

[2017-12-06 09:55] visualskyrim opened #240 "get_external_config seems not to read config from $HADOOP_HOME/etc"
In the source code here:
https://github.com/spotify/snakebite/blob/6a456e6100b0c1be66cc1f7f9d7f50494f369da3/snakebite/config.py#L133

`get_external_conf` actually doesn't read `core-site.xml` or `hdfs-site.xml` from `$HADOOP_HOME/etc`.

But in `hdfs_try_paths` [here](https://github.com/spotify/snakebite/blob/master/snakebite/commandlineparser.py#L300), snakebite says it tried.

[2017-12-07 01:13] visualskyrim opened #241 "Document doesn't tell us snakebite is reading $HADOOP_CONF_HOME for hadoop config"
https://github.com/spotify/snakebite/blob/6a456e6100b0c1be66cc1f7f9d7f50494f369da3/snakebite/config.py#L139

But in the document, it seems that only `HADOOP_HOME` is used.

[2017-12-07 01:13] visualskyrim commented on #240
Sorry, I didn't notice that snakebite is using `HADOOP_CONF_HOME` too.

My `HADOOP_CONF_HOME` is set to `$HADOOP_HOME/etc/hadoop`, which makes me think snakebite is reading `$HADOOP/etc`.

Since snakebite is using `HADOOP_CONF_HOME` to find `hdfs-site.xml` and `core-site.xml`, I think it would be better to have that in the document.

I created another issue to cover this: https://github.com/spotif

[2017-12-07 01:13] #240 closed

[2017-12-07 01:19] visualskyrim commented on #241
Added a PR.

[2017-12-07 01:47] visualskyrim opened #243 "Doesn't support hadoop config with xinclude"
I have a `hdfs-site.xml` looks like this:

[code]

It seems that snakebite is not able to read the namenode inside the included `hdfs-site.xml`, thus it complains about

[code]

Maybe we should use another xml parser instead of `xml.etree.ElementTree`?

[2017-12-15 20:30] gpoulin commented on #62
@davoscollective Those commit simply added compatibility for the minicluster which was needed for testing in Luigi. The actual client use protobuf 2 that doesn't support python3. So to upgrade to python 3 it will first require updating protobuf. Also this library do a lot of io on mixing byte and string which is the part that changed the most between python2 and python3 which make the compatibilit

[2018-02-20 19:07] miroswan opened #247 "Quota Support"
I'm interested in implementing support for setting disk and namespace quota from the client.

https://github.com/spotify/snakebite/blob/master/snakebite/protobuf/ClientNamenodeProtocol_pb2.py#L2385-L2424

Is there anything I should consider before I get started on a PR?

[2018-03-21 15:18] kockockockoc commented on #238
Run snakebite in debug mode:

_DEBUG:snakebite.rpc_sasl:Available mechs: DIGEST-MD5,GSSAPI
DEBUG:snakebite.rpc_sasl:Chosen mech:_

Empty "Chosen mech".

https://github.com/spotify/snakebite/issues/175#issuecomment-237251283

[2018-04-10 12:52] spyzzz commented on #37
Still not implemented yet ?
I really need this feature :|

[2018-04-12 14:47] soxofaan opened #249 "Install of Snakebite 1.3 with Pipenv gives protobuf errors"
Hi,
I know that snakebite 1.3 is unsupported, but I wanted to report this, at least to have a pointer for myself.

Installing snakebite 1.3 with pipenv causes protobuf errors for me when I try to import `snakebite.client`.

### Illustration

First setting up environment:
[code]

When I now try to import `snakebite.client` I get this:

[code]

### With standard virtualenv/pip
For reference, using s

[2018-04-23 21:43] kamikaze commented on #62
What a crap... Spotify, don't be lazy! Please make this library Python 3.6 compatible

[2018-04-23 21:43] kamikaze commented on #62
https://github.com/spotify/snakebite/blob/master/snakebite/client.py#L1473

[2018-04-24 01:33] davoscollective commented on #62
@kamikaze  Almost python 3.7 now https://docs.python.org/3.7/whatsnew/3.7.html
Then move away from protobuf and start using apache arrow. It's the `__future__`

[2018-04-24 09:47] ulf1 opened #250 "SyntaxError: invalid syntax -- baseTime = min(time * (1L << retries), cap);"
python 3.6.2

importing
[code]

results in
[code]

It is the same issue as in https://github.com/spotify/snakebite/issues/216

Providing a Python 3 package is misleading, and should be removed from pypi if does not work.

[2018-06-07 06:57] hackaholic opened #251 "python snakebite module dosen't handle special character"
On below directories when snakebite python module tries to do ls recursively it, returns no such file or directory.
[code]
I know its due to {} special character but snakebite is not able to handle it, does any one have any solution for this problem?.

Below is the python code:

[code]

I have also posted the same on stackoverflow: https://stackoverflow.com/questions/50733649/python-snakebite-modu

[2018-06-07 06:59] hackaholic opened #252 "python snakebite module dosen't handle non-ASCII character"
[code]

[2018-06-07 09:39] kyamagu commented on #108
Relevant: https://github.com/fabric/fabric/issues/1292#issuecomment-82621653

[2018-07-31 13:10] cupdike commented on #62
As long as snakebite's kerberos support relies on python-krbV:
https://github.com/spotify/snakebite/blob/6a456e6100b0c1be66cc1f7f9d7f50494f369da3/setup.py#L48
 it's not going to work with Python 3 on Fedora:
https://bugzilla.redhat.com/show_bug.cgi?id=1024834#c4

[2018-08-21 15:59] kockockockoc commented on #237
[code]

[2018-08-24 11:17] OOPMan commented on #62
Given that Python 2.x will hit EOL in just a few years and that this ticket has also been open for just a few years maybe there's some chance some poor soul will submit a PR.

Personally, the excuse that because Spotify don't use Python 3 they can't be bothered to do the work is a wearing a little thin...

[2018-08-24 12:08] wouterdebie commented on #62
I left Spotify a while ago, but I know that Spotify doesn't run HDFS anymore. They've moved to Google Cloud Platform where everything is stored in GCS and doesn't require the hadoop client or snakebite anymore. I guess someone at Spotify should communicate this and deprecate snakebite.
As the original author, I've moved on to other things as well and don't have an incentive to maintain the project

[2018-08-29 23:20] parsatorb commented on #250
Just ran into this as well :(

[2018-08-31 03:28] shen-xianpeng commented on #237
Thanks

[2018-08-31 03:28] #237 closed

[2019-01-05 20:15] wouterdebie commented on #62
I'm really sorry about this. I would love to have merged this, but I don't have write access anymore. If the community wants to continue snakebite it can always be forked. @ravwojdyla also left Spotify, but he might have an idea who to talk to so the project can be owned by the community again.

[2019-02-20 13:06] VincentHuysmans opened #253 "subprocess.Popen in minicluster on Windows causes OSError: [WinError 193] %1 is not a valid Win32 application"
I'm using Python 2.7.15 in PyCharm on Windows 10.

I'm trying to write a unittest using minicluster.py (snakebite 2.11.0). I have following code:

`class FileUtilsTest(TestCase):

    def setUp(self):
        cluster = MiniCluster('/test-files')
        client = Client('localhost', cluster.port)
        self.file_utils = FileUtilsMock(client)`

When running this code I get

I found out that

[2019-04-11 20:40] jkafader commented on #62
at internet archive, we use this library a lot, use python3 and have been using a fork of kirklg's version for some time, we finally put it on pypi recently:
https://pypi.org/project/snakebite-py3/

[2019-04-11 20:40] jkafader commented on #62
If anyone would like to merge in more recent changes and help us to get the test to pass, the work would be much appreciated.

[2019-04-11 20:44] jkafader commented on #62
thanks for all of your past work @kirklg

[2019-04-11 20:58] kirklg commented on #62
Hey @jkafader kudos! I can't take any credit here, thanks for moving the pythons to 3 :D.

My priorities shifted and I could no longer get paid to work on this.

[2019-05-10 07:13] fifar commented on #250
Just ran into this as well :(
Please fix it, thanks.

[2019-05-18 07:38] rationalbeing commented on #250
this is not fixed! someone remove it or solve the issue

[2019-05-18 19:10] OOPMan commented on #250
@rationalbeing @fifar The author of this library no longer works at Spotify and Spotify no longer use this library. See https://github.com/spotify/snakebite/issues/62

At this point, Spotify do not care enough to even close this ticket. Could people please stop adding comments to this ticket. Instead, head over to https://pypi.org/project/snakebite-py3/ and get the version that works on Python 3

[2019-05-20 21:19] wouterdebie commented on #62
@jkafader I just saw this thread from a month ago and thank you so much for doing this! I reached out to some folks at Spotify to do something with this repo, but I haven't heard back. Who knows..

[2019-05-25 01:04] ulf1 commented on #250
Thanks OOPMan.
I closing this issue for this dead repo.

[2019-05-25 01:04] #250 closed

[2019-07-17 03:25] lixiang2017 commented on #211
wait for it

[2019-09-17 18:41] HariSekhon opened #254 "Replace python-krbV kerberos library dependency - it is unmaintained and doesn't build on my machine any more"
From the author, Michael Bonnet at Redhat:

[code]

[2019-09-24 09:55] HariSekhon commented on #254
The problem is the library hardcodes some paths and fails to find krb5.h regardless of the usual location flags.

[2019-10-01 15:55] lost-dt opened #255 "Using CLI snakebite"
I install snakebite as using: pip install snakebite (python 2.7)

And i can't find how to use cli with snakebite. Can someone help me?

[2020-03-17 21:34] #182 closed

[2020-04-19 08:08] IslemAtimi commented on #250
la solution est simple:
pip install snakebite-py3
ou
pip3 install snakebite-py3

[2020-08-26 02:37] brunocampos01 commented on #37
I suggest: https://pypi.org/project/snakebite-py3/

[2020-11-27 11:07] smithnote opened #257 "hdfs effective_group"
I need download some from hdfs, when i use '**hadoop fs -D hadoop.job.ugi=username,groupname -get /my/hdfs/file/path'**, it work.
 I use snakebite client and set effective_user, then copyToLocal,  but its **not work**,  it looks like permission issue,
so could provide a **effective_group** parameter, like hadoop command support "-D hadoop.job.ugi=username,groupname"

[2020-12-17 22:59] derekcat commented on #255
Heh, I just had the same issue, unfortunate that there are no examples in the docs here.

I found this page that shows some useful examples of how to use it: https://www.geeksforgeeks.org/hadoop-python-snakebite-cli-client-its-usage-and-command-references/

But I feel like I'm missing something, as I don't see any option to upload files to HDFS (neither in the snakebite help, nor the linked page).

[2020-12-17 23:25] derekcat commented on #37
Why do you suggest that version?  It does not appear to have put/copyFromLocal support either.

Aeroevan's response seems to be the only thing that's actually a viable alternative at the moment:  https://github.com/colinmarc/hdfs/

Though it's a bit unclear what exactly is required as opposed to the ~/.snakebiterc (straight copies of the `core-site.xml` and `hdfs-site.xml` files from a NameNode in

[2021-03-05 10:25] datavisorjianglinguo opened #258 "How to Copy HDFS Original Files to a Target Directory (Non-local)?"
How to Copy HDFS Original Files to a Target Directory (Non-local)
exp:   copy /a.txt  dst /b/a.txt

[2021-03-05 10:48] datavisorjianglinguo commented on #258
non HDFS to localFilePath

[2021-04-10 10:25] #230 closed